.EndScreen h1 {
    color: white;
}

.EndScreen {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EndScreen .certi {
    text-align: center;
    margin-top: 20px;
    width: 344px;
}

.EndScreen button {
    padding: 10px 20px;
    transition: .3s;
}

.EndScreen button:hover {
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid #fff;
    font-size: 20px;
}