.unitCard h4 {
    color: #608cf3;
}

.unitCard p {
    color: #43454b;
}

.unitCard.active:hover {
    background-color: #839be4;
}

.unitCard.active {
    cursor: pointer;
    background-color: transparent;
}

.unitCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: .3s;
    border: 1px solid var(--main-color);
    background-color: #c1c8eb;
}

.unitCard.active p {
    color: #000;
}

.unitCard.active h4 {
    color: var(--main-color);
}