.levelInfo {
    padding: 100px 0;

}

/* 
.levelInfo .cont {
    display: flex;
    justify-content: space-between;
} */

.levelInfo .left,
.levelInfo .right {
    padding: 10px;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 2px 2px var(--main-color);
}

.levelInfo h3,
.levelInfo h2 {
    color: var(--main-color);
}