.Quiz {
    width: 500px;
    /* height: 500px; */
    border-radius: 10px;
    background-color: var(--main-color);
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px;
}

.Quiz h4 {
    color: white;
    direction: ltr;
}

.Quiz #nextQuestion {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: .3s;
}

.Quiz #nextQuestion:hover {
    color: #fff;
    background-color: var(--main-color);
    border: 1px solid #fff;
    font-size: 22px;
}

.Quiz .btns {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Quiz .ans {
    text-align: left;
    padding: 10px;
    margin: 10px;
    transition: .3s;
}

.Quiz .ans:hover {
    color: var(--main-color);
    font-size: 16.5px;
}

.Quiz .ans.active {
    background-color: #7694d5;
    color: #fff;
    font-size: 16.5px;
}

.Quiz .questions {
    display: flex;
    flex-direction: column;
}

.Quiz .ans.wrong {
    background-color: #fc6969;
    color: #fff;
    font-size: 16.5px;
}

.Quiz .ans.correct {
    background-color: #93fc69;
    color: #fff;
    font-size: 16.5px;
}