.op {
    padding: 100px 20px;
    font-family: var(--lang);
}

.op button {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.op .addNewUser button i {
    margin: 0 10px;
}

.op h1,
.op h3 {
    text-align: center;
}

.op th {
    color: #fff;
    padding: 7px 40px;
    /* text-align: center; */
    /* background-color: #afabf1;*/
    background-color: var(--main-color);
    border: 1px solid;
}

.op td {
    padding: 7px 40px;
    border: 1px solid var(--main-color);
}