.side {
    padding: 20px 0;
    height: 100vh;
    width: 348px;
    position: fixed;
    z-index: 100;
    transition: .3s;
    background-color: #dcdcfb;
}

.side .btns {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.side .btns button {
    background-color: rgb(214, 37, 37);
}

.side.hide {
    width: 0;
}

.side-min {
    width: 20px;
}


.side.hide .links-menu,
.side.hide i,
.side.hide .logo,
.side.hide .details {
    display: none;
}

.side .logo {
    transition: .3s;
    width: 196px;
    position: relative;
    height: 52px;
    margin: 0;
}

[data-lang="Arabic"] .side .logo {
    margin-right: 40px;
}

.side .details {
    /* text-align: center; */
    padding: 20px;
    margin-top: 20px;
}

.side h4 {
    margin: 0;
    padding: 0;
}

.side .links-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.side .links-menu .menu-item {
    margin-top: 4px;
    width: 219px;
    transition: .3s;
}

.side .links-menu .menu-item a {
    margin: 0;
    height: 40px;
    padding: 10px 10px 0 36px;
    position: relative;
    display: flex;
    transition: .3s;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.side .links-menu .menu-item a i {
    color: var(--main-color);
    font-size: 17px;
    position: absolute;
    cursor: pointer;
    left: 11px;
}

.side .links-menu .menu-item a.active i {
    color: #fff;
}

[data-lang="Arabic"] .side .links-menu .menu-item a {
    padding: 10px 36px 0 10px;
}

.side .links-menu .menu-item:hover {
    transform: translateX(-2px)
}

[data-lang="Arabic"] .side .links-menu .menu-item a i {
    left: initial;
    right: 11px;
}

.side .links-menu .menu-item a.active {
    background-color: var(--main-color);
    color: #fff;
    transform: translateX(-2px)
}

.side i {
    color: var(--main-color);
    font-size: 23px;
    position: absolute;
    right: 19px;
    cursor: pointer;

}