.leftSide {
    margin: 0 79px;
}

.leftSide .btns button {
    background-color: rgb(214, 37, 37);
    padding: 5px 10px;
    border-radius: 4px;
}

@media screen and (max-width:767px) {
    /* .leftSide {
        margin: 0;
    } */

    .leftSide .bottom {
        margin: 0 40px;
    }
}

.leftSide .prog {
    margin-bottom: 10px;
}

.leftSide h6 {
    font-weight: bold;
}

.leftSide .email {
    font-family: fantasy;
}