* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* --main-color: #FFCD00;*/
  /* --main-color: #8a4a54;*/
  /* --main-color: #40bbe7;*/
  /* --main-color: #0900bd; */
  /* --main-color: #0030ef; */
  --main-color: #0e5892;

  /* background-image: linear-gradient(to right, red, yellow); */

  --dir: ltr;
  --lang: --bs-body-font-family;
}

[data-lang='Arabic'] {
  --dir: rtl;
  --lang: arabic;
}

body {
  direction: var(--dir);
  font-family: var(--lang);
}

@font-face {
  font-family: arabic;
  src: url('./assets/fonts/alfont_com_BelalBoldBold-BWrl8.ttf');
}

@font-face {
  font-family: Binko2Eng;
  src: url('./assets/fonts/Leckerli_One/LeckerliOne-Regular.ttf');
}

@font-face {
  font-family: BinkoAra;
  src: url('./assets/fonts/Markazi_Text/static/MarkaziText-SemiBold.ttf');
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}